<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <h1>Todo list app</h1>

    <form action="/" method="POST">
        <input type="text" name="todo" id="todo" required>
        <button>Add</button>
    </form>

    <% const results = todos.forEach(todo => {%>
        <p><%= todo.todo%></p>
    <%})%>
</body>
</html>